{
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    ["transform-es2015-modules-umd", {
      "globals": {
        "Game.src": "Game",
        "nymph-client": "NymphClient"
      },
      "exactGlobals": true
    }]
  ]
}
