{
  "env": {
    "umd": {
      "plugins": [
        ["transform-es2015-modules-umd", {
          "globals": {
            "Todo.src": "Todo",
            "nymph-client": "NymphClient"
          },
          "exactGlobals": true
        }]
      ]
    },
    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    }
  },
  "presets": [
    "env",
    "stage-3"
  ]
}
